/* Контейнер */
.container {
    text-align: center;
    margin-top: 50px;
}

/* Кнопки выбора роли */
.role-selection {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
